@tailwind base;
@tailwind components;
@tailwind utilities;

.glitch {
  position: relative;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch::before {
  left: 2px;
  text-shadow: -1px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -1px 0 #00fff9;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% { clip: rect(20px, 9999px, 10px, 0); }
  20% { clip: rect(60px, 9999px, 70px, 0); }
  40% { clip: rect(20px, 9999px, 50px, 0); }
  60% { clip: rect(10px, 9999px, 80px, 0); }
  80% { clip: rect(50px, 9999px, 20px, 0); }
  100% { clip: rect(30px, 9999px, 60px, 0); }
}

@keyframes glitch-anim-2 {
  0% { clip: rect(15px, 9999px, 60px, 0); }
  20% { clip: rect(80px, 9999px, 20px, 0); }
  40% { clip: rect(30px, 9999px, 10px, 0); }
  60% { clip: rect(50px, 9999px, 90px, 0); }
  80% { clip: rect(10px, 9999px, 40px, 0); }
  100% { clip: rect(40px, 9999px, 70px, 0); }
}
